<% if(value){ %>
<div class="depth1" onClick="<%=methods.select.caller() %>">
	<div class="fist_menu">
		<ul>
			<li><a href="#">
					<span class="icon-feed left_menu_icon"></span>
					<span style="padding:0px;margin:0px;width:auto;" class="left_menu_text"><%=fields.label.here()%></span>
				</a>
			</li>
		</ul>
	<div>
</div>

<% if(value.selected){ %>
	<div class="depth2">
		<ul><lil>
		<div class="fist_menu">		
			<%=fields.child.here()%>
				<% if(!mw3.isHiddenMethod(methods.popupAdd)){ %>
					<ul>
						<li>
							<a href="#" onClick="<%=methods.popupAdd.caller()%>" class="add_new_label">
                    		<span class="glyphicon glyphicon-plus-sign left_menu_icon" style="top:3px"></span>
                    		새<%=mw3.localize(value.label)%></a>
							<div class="clear"></div>
						</li>
					</ul>
			<% } %>
		</div>
		</lil></ul>
	</div>	
<% } } %>