<%
	if(value){
%>
	<div class="depth1">
		<!--<span><%=fields.label.here()%></span>-->
<%
		if(!mw3.isHiddenMethod(methods.expand)){
%>				
		<span class="west_more_btn">
			<a href="javascript:<%=methods.expand.caller()%>"><%=mw3.localize("$Expand")%></a>
		</span>
<%
		}
%>		
<%
		if(!mw3.isHiddenMethod(methods.collapse)){
%>	
		<span class="west_more_btn">
			<a href="javascript:<%=methods.collapse.caller()%>"><%=mw3.localize("$Collapse")%></a>
		</span>
<%
		}
%>		
	</div>

	<div class="contact_list">
		<%=fields.child.here()%>
		<a style="cursor: pointer;float: left;margin: 13px 0 12px 13px;" onclick="<%=methods.popupAdd.caller()%>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>		</a>
		<div class="clear"></div>
	</div>
	
<%
	}
%>
