<%
if(value){
%>
<div class="view_box2 workitem_edit" style="<%= (mw3.how == 'sns' && value.taskId > -2 ? 'background:#fff; margin:0px;padding-bottom:5px;' : '')%>" >

    <%=include("dwr/metaworks/org/uengine/codi/mw3/model/IWorkItem_title.ejs")%>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="position:relative; z-index:98">
        <tr>
            <td width="67" height="25" style="color:#8D98AF; padding-left:10px;padding-top:10px">
                <div style="text-align:center"><%=mw3.localize('$Title')%></span>
            </td>
            <td style=" padding:10px 10px 0px 0px;" colspan="2">
                <input id="post_<%=objectId%>" class=" wih_comment_input <%=value.type%>" value="<%=value.title ? value.title:''%>" style="width:99%;-webkit-border-radius:3px; border:1px solid #ccc">
            </td>

        </tr>
        <tr>
            <td width="50" height="30" style=" padding:10px 15px 0px 10px;">

            </td>
            <td style=" padding:10px 15px 0px 0px;">
                <span class="btn btn-default btn-file">
                    <input type="file" id="filePicker_<%=objectId%>" style="display: none; " />
                </span>
                <input type="button" id="authorizeButton_<%=objectId%>" style="display: none" value="Authorize" />
            </td>
            <td style=" padding:10px 0px 0px 0px;">
                <button id="addFile_<%=objectId%>" type="button" class="btn btn-warning btn-sm "  style="float:right;margin-right:15px;"><%=mw3.localize((mw3.when == 'new')?'$Post':'$Edit')%></button>
            </td>
        </tr>
        <%
        if(value.dueDate){
        %>
        <tr>
            <td colspan="3">
                <span class="workdueDate"><a href="#"><span class="badge"><span class="icon-alarm2"></span><span style="display:inline-block; margin-left:5px;"> <%=fields.dueDate.here({when:'view'})%></span></span></a></span>
            </td>
        </tr>
        <%
        }
        %>
    </table>
</div>

<%
}
%>