<%
if(value){
    debugger;
    var isMine = false;

//    if(session && session.user && session.user.userId == value.writer.userId)
//        isMine = true;

%>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td width="65" valign="top">
            <div class="notMePic">
                <div class="notMePicPic" style="float:left"></div>
                <div style="float:left; margin-left:10px">
                    <div><b>테스트</b></div>
                    <div style="color:#A2A2A2">test@test.com</div>
                </div>
            </div>
            <div  style="float:right;margin:11px;color:#A2A2A2"><%=fields.startDate.here({when: 'timeago'})%></div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="position:relative;">
                <div class="<%=isMine?'view_box3':'view_box4'%>" style="position:relative">

                    <div class="cont" style="padding:0px 10px; margin:0px; overflow:auto">
                        <div class="formcontexttitle">
                            <span style="position:relative; height:38px; float:left; margin-right:10px;">
							<span class="icon-attachment" style="color: #7f8c8d; font-size: 20px;width:20px;"></span>
	                        </span>
                            <span class="wih_title">
								<%=value.title%>
							</span>
                            <div style="margin-top:5px;">
                                <span style="float:left;font-size: 14px;line-height: 23px" class="icon-download3"></span>
                                <a href="<%=value.content%>" style="cursor: pointer; float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;-o-text-overow: ellipsis;max-width: 150px; color:#0452F2">
                                    <span style=" line-height:1.8em; margin-left:5px; margin-right:10px;" title="<%=value.title%>"><%=value.title%></span>
                                </a>
                                <div style="clear:both"></div>
                            </div>
                            <iframe src="<%=value.ext1%>"></iframe>
                            <div class="clear"></div>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>

            </div>
        </td>
    </tr>
    </tbody>
</table>

<%
}
%>