<%
if(mw3.when == 'new'){
%>
<div id="wih_button" style="<%=hideButton ? "display:none;" : ""%>">
    <a class="<%= value.type=='comment'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newComment.caller()%>"><span class="icon-bubble"></span><span><%=mw3.localize("$Write")%></span><div class="comment_select"></div></a>
    <!-- 파일 -->
    <a class="<%= (value.type=='file' || value.type=='document')?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newDocument.caller()%>"><span class="icon-attachment"></span><span id="method_<%=objectId%>_newFile"><%=mw3.localize("$File")%></span><div class="comment_select"></div></a>

    <%
        var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
    if( session && session.ux != 'phone'){
        var newActivityFlag = true;

        if( value.instId == null && value.dueDate != null ){
            newActivityFlag = false;
        }

    if( (session && session.employee.preferUX != 'sns') || session.ux == 'oce'){
        var hideButton = (mw3.how == 'sns' && mw3.where == 'oce');
    if( session && session.ux != 'pad'){
    %>
    <!-- 메모 -->
    <a class="<%= value.type=='memo'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newMemo.caller()%>"><span class="icon-newspaper"></span><span id="method_<%=objectId%>_newMemo"><%=mw3.localize("$Memo")%><div class="comment_select"></div></span></a>

    <!-- 회상회의 -->
    <a class="<%= value.type=='remoteConf'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newRemoteConference.caller()%>"><span class="icon-screen"></span><span id="method_<%=objectId%>_newRemoteConference"><%=mw3.localize("$RemoteConference")%><div class="comment_select"></div></span></a>

    <%
    }
    %>
    <!-- 소스코드 -->
    <a class="<%= value.type=='src'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newSourceCode.caller()%>"><span class="icon-code"></span><span id="method_<%=objectId%>_newSourceCode"><%=mw3.localize("$SourceCode")%><div class="comment_select"></div></span></a>

    <%
    if(session && session.employee && session.employee.approved && !session.employee.guest && newActivityFlag){
    %>
    <!-- 앱 -->
    <a class="<%= value.type=='etc'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newActivity.caller()%>"><span class="glyphicon glyphicon-th" style="width:18px;"></span><span id="method_<%=objectId%>_newActivity"><%=mw3.localize("$workitem.newActivity")%><div class="comment_select"></div></span></a>

    <%
    }
    }
    }
    %>
</div>
<%
}
%>