<div id="navigator">
	<%=fields.personalPerspective.here() %>
	<%=fields.topicPerspective.here() %>
	<%=fields.upcommingTodoPerspective.here() %>
	<%=fields.contactPerspective.here() %>
	<%=fields.deptPerspective.here() %>
	<%=fields.rolePerspective.here() %>
	<%=fields.processPerspective.here() %>
</div>
