<div id="navigator">
	<%=fields.personalPerspective.here() %>
	<%=fields.topicPerspective.here() %>
	<%=fields.upcommingTodoPerspective.here() %>

	<%=fields.documentPerspective.here()%>
	<%=fields.deptPerspective.here() %>
	<%=fields.rolePerspective.here() %>
	<%=fields.processPerspective.here() %>
	<%=fields.projectPerspective.here() %>
</div>

<div class="contact_panel">
	<div class="footer-gradient"></div>
	<div style="padding-top:20px"><%=fields.contactPerspective.here() %></div>
</div>